<html>
<head>
  <title>Stricky Notes by Davis</title>
  
  <link rel="stylesheet" type="text/css" href="assets/css/style.css" >
  <link rel="stylesheet" type="text/css" href="assets/css/msgBoxLight.css" >
  <link rel="stylesheet" type="text/css" href="assets/css/spectrum.css" >
  
  <script src='assets/js/jquery-1.9.1.min.js'></script>
  <script src='assets/js/jquery.customSelect.js'></script>
  <script src='assets/js/jquery.msgBox.js'></script>
  <script src='assets/js/spectrum.js'></script>  
  <script src='assets/js/stickynote.js'></script>
  <script src='assets/js/main.js'></script>
</head>

<body>
  <input type='text' class="basic"/>
  <button id="newNoteButton" onclick="newNote()">New Note</button>
</body>
</html>
